/*Necesario para poder repartir los divs de los dos fondos verticalmente*/
html, body{
    background-color: antiquewhite;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
 }



/*Contenedor que engloba todo el espacio que ocupa la consola, incluido el fondo*/
 .contenedorFondoConsola{
      background-color: rgb(240, 240, 240);
      width: 100%;
      height: 80%;
      justify-content: center;
      display: flex;
      align-items: center;
 }



/*Contenedor que engloba toda la consola*/
.contenedorConsola{
    background-color: turquoise;
    width: 50em;
    height: 22em;
    display: flex;
    border-radius: 6.5em 0 0 6.5em;
}

/*Contenedor que engloba el joy pad izquierdo*/
.contenedorJoyConL{
    background-color: turquoise;
    width: 8em;
    height: 22em;
    border-radius: 6.5em 0 0 6.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.botonL{
    background-image: url(/img/botonL.png);
    width: 104px; 
    height: 57px;
    margin-left: -2px;
    margin-top: -5px;
}

.botonMenos{
    background-color: rgb(218, 218, 218);
    width: 1.4em;
    height: 0.4em;
    margin-left: 5em;
    margin-top: -1em;
    box-shadow: -0.1em 0.2em 0.4em 0.05em rgb(44, 44, 44);
}

.stickIzquierdo{
    background-color: rgb(218, 218, 218);
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    margin-top: 2em;
    box-shadow: 0em 0em 0.2em 0.2em rgb(44, 44, 44);
}

.crucetaArriba{
    background-color: rgb(218, 218, 218);
    height: 1.5em;
    width: 1.5em;
    margin-top: 3em;
    border-radius: 0.3em 0.3em 0 0;
    box-shadow: 0em -0.1em 0.2em 0.1em black;
}

.crucetaDerecha{
    background-color: rgb(218, 218, 218);
    height: 1.5em;
    width: 1.5em;
    margin-left: 3em;
    border-radius: 0 0.3em 0.3em 0;
    box-shadow: 0.1em 0em 0.2em 0.1em black;
}

.crucetaAbajo{
    background-color: rgb(218, 218, 218);
    height: 1.5em;
    width: 1.5em;
    border-radius: 0 0 0.3em 0.3em;
    box-shadow: 0em 0.1em 0.2em 0.1em black;
}

.crucetaIzquierda{
    background-color: rgb(218, 218, 218);
    height: 1.5em;
    width: 1.5em;
    margin-top: -3em;
    margin-left: -3em;
    border-radius: 0.3em 0 0 0.3em;
    box-shadow: -0.1em 0em 0.2em 0.1em black;
    
}

.crucetaCentro{
    background-color: rgb(218, 218, 218);
    height: 1.5em;
    width: 1.5em;
    margin-top: -1.5em;
}

.botonSinUso{
    background-color: rgb(218, 218, 218);
    height: 1.4em;
    width: 1.4em;
    margin-top: 3.6em;
    margin-left: 5em;
    border-radius: 0.2em;
    box-shadow: 0em 0em 0.2em 0.05em rgb(44, 44, 44);
}


/*Contenedor que engloba la pantalla completa*/
.contenedorDisplay{
    margin: 1em 0em;
}

.margenesDisplay{
    background-color: rgb(20, 196, 178);
    padding: 1em 2em;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.display{
    background-color: rgb(51, 51, 51);
    width: 30em;
    height: 18em;
}



/*Contenedor que engloba el joycon derecho*/
.contenedorJoyConR{
    background-color: rgb(26, 197, 26);
    width: 8em;
    height: 22em;
}



















/*Contenedor que engloba todo el espacio que ocupan los botones para los colores, incluido el fondo-->*/
.contenedorFondoColores {
    background-color: darksalmon;
    width: 100%;
    height: 20%;
}