/*Necesario para poder repartir los divs de los dos fondos verticalmente*/
html, body{
    background-color: rgb(240, 240, 240);
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
 }



/*Contenedor que engloba todo el espacio que ocupa la consola, incluido el fondo*/
 .contenedorFondoConsola{
      background-color: rgb(240, 240, 240);
      width: 100%;
      height: 70%;
      justify-content: center;
      display: flex;
      align-items: center;
 }



/*Contenedor que engloba toda la consola*/
.contenedorConsola{
    background-color: gray;
    /*background: rgb(61,200,186);*/
    width: 50em;
    height: 22em;
    display: flex;
    border-radius: 6.5em 6.5em 6.5em 6.5em;
    box-shadow: -0.5em 1.5em 1.5em 1em rgb(44, 44, 44);
}

/*Contenedor que engloba el joy pad izquierdo*/
.contenedorJoyConL{
    background-color: gray;
    /*background: rgb(29,176,162);
    background: linear-gradient(90deg, rgba(29,176,162,1) 0%, rgba(61,200,186,1) 100%);*/
    width: 8em;
    height: 22em;
    border-radius: 6.5em 0 0 6.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.botonL{
    background-image: url(../img/botonL.png);
    width: 104px; 
    height: 57px;
    margin-left: -2px;
    margin-top: -5px;
}

.botonMenos{
    background-color: rgb(218, 218, 218);
    width: 1.2em;
    height: 0.3em;
    margin-left: 5em;
    margin-top: -1em;
    border: 0.08em solid rgb(100, 100, 100);
}

.stickIzquierdo{
    background-color: rgb(218, 218, 218);
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    margin-top: 2em;
    box-shadow: 0em 0em 1.5em 0.2em rgb(122, 122, 122);
    border: 0.15em solid black;
}

.crucetaArriba{
    background-color: rgb(218, 218, 218);
    height: 1.4em;
    width: 1.5em;
    margin-top: 3em;
    border-radius: 0.3em 0.3em 0 0;
    border-top: 0.15em solid black;
    border-right: 0.15em solid black;
    border-left: 0.15em solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(182, 182, 182);
    
}

.crucetaDerecha{
    background-color: rgb(218, 218, 218);
    height: 1.5em;
    width: 1.4em;
    margin-left: 2.9em;
    border-radius: 0 0.3em 0.3em 0;
    border-top: 0.15em solid black;
    border-right: 0.15em solid black;
    border-bottom: 0.15em solid black;
    border-left: 0.15em solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(182, 182, 182);
}

.crucetaAbajo{
    background-color: rgb(218, 218, 218);
    height: 1.4em;
    width: 1.5em;
    border-radius: 0 0 0.3em 0.3em;
    border-right: 0.15em solid black;
    border-bottom: 0.15em solid black;
    border-left: 0.15em solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(182, 182, 182);
}

.crucetaIzquierda{
    background-color: rgb(218, 218, 218);
    height: 1.5em;
    width: 1.4em;
    margin-top: -3.35em;
    margin-left: -3em;
    border-radius: 0.3em 0 0 0.3em;
    border-top: 0.15em solid black;
    border-bottom: 0.15em solid black;
    border-left: 0.15em solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(182, 182, 182);
    
}

.crucetaCentro{
    background-color: rgb(218, 218, 218);
    height: 2.1em;
    width: 1.5em;
    margin-top: -1.9em;
}

.botonSinUso{
    background-color: rgb(218, 218, 218);
    height: 1.4em;
    width: 1.4em;
    margin-top: 3.6em;
    margin-left: 5em;
    border-radius: 0.2em;
    box-shadow: 0em 0em 0.1em 0.05em rgb(44, 44, 44);
}


/*Contenedor que engloba la pantalla completa*/
.contenedorDisplay{
    margin: 1em 0em;
}

.margenesDisplay{
    background-color: gray;
    padding: 1em 2em;
    border-radius: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: inset 0 0 1em 0.2em rgb(0, 0, 0);
}

.displayMasHomeFondo{
    background-image: url(../img/displayTurquesa.jpg);
}

/*.displayMasHome{
    cursor: pointer;
}*/

.displayMasHome:active{
    transition: 5s;
    opacity: 0;
}

.display{
    background-color: rgb(37, 37, 37);
    width: 30em;
    height: 18em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.homeEnciende{
    background-color: rgb(218, 218, 218);
    background-image: url(../img/home.png);
    background-position: center;
    height: 1.4em;
    width: 1.4em;
    margin-right: -37em;
    margin-top: 16em;
    border: 0.2em solid grey;
    border-radius: 50%;
    box-shadow: 0em 0em 0.1em 0.05em rgb(44, 44, 44);
    z-index: 1;
    cursor: pointer;
}



/*Contenedor que engloba el joycon derecho*/
.contenedorJoyConR{
    background-color: gray;
    /*background: rgb(61,200,186);
    background: linear-gradient(90deg, rgb(61,200,186,1) 0%, rgba(126,249,236,1) 100%);*/
    width: 8em;
    height: 22em;
    border-radius: 0em 6.5em 6.5em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonR{
    background-image: url(../img/botonR.png);
    width: 104px;
    height: 57px;
    margin-right: -2px;
    margin-top: -5px;
}

.botonMas{
    background-color: rgb (61,200,186);
    height: 1.1em;
    width: 1.1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-right: 5em;
    margin-top: -1.4em;
}

.botonMasArriba{
    background-color: rgb(218, 218, 218);
    border-top: 0.08em solid rgb(100, 100, 100);
    border-right: 0.08em solid rgb(100, 100, 100);
    border-left: 0.08em solid rgb(100, 100, 100);
}

.botonMasIzquierda{
    background-color: rgb(218, 218, 218);
    border-top: 0.08em solid rgb(100, 100, 100);
    border-bottom: 0.08em solid rgb(100, 100, 100);
    border-left: 0.08em solid rgb(100, 100, 100);
}

.botonMasCentro{
    background-color: rgb(218, 218, 218);
}

.botonMasDerecha{
    background-color: rgb(218, 218, 218);
    border-top: 0.08em solid rgb(100, 100, 100);
    border-right: 0.08em solid rgb(100, 100, 100);
    border-bottom: 0.08em solid rgb(100, 100, 100);
}

.botonMasAbajo{
    background-color: rgb(218, 218, 218);
    border-bottom: 0.08em solid rgb(100, 100, 100);
    border-right: 0.08em solid rgb(100, 100, 100);
    border-left: 0.08em solid rgb(100, 100, 100);
}

.botonesXABY{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}

.botonX{
    background-color: rgb(218, 218, 218);
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-left: 1em;
    box-shadow: 0em 0em 0.2em 0.1em rgb(44, 44, 44);
    border: 0.05em solid black;
}

.botonA{
    background-color: rgb(218, 218, 218);
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3em;
    box-shadow: 0em 0em 0.2em 0.1em rgb(44, 44, 44);
    border: 0.05em solid black;

}

.botonB{
    background-color: rgb(218, 218, 218);
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.1em;
    box-shadow: 0em 0em 0.2em 0.1em rgb(44, 44, 44);
    border: 0.05em solid black;

}

.botonY{
    background-color: rgb(218, 218, 218);
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3.7em;
    margin-left: -0.8em;
    box-shadow: 0em 0em 0.2em 0.1em rgb(44, 44, 44);
    border: 0.05em solid black;
}

.stickDerecho{
    background-color: rgb(218, 218, 218);
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    margin-top: 4em;
    margin-left: -1em;
    box-shadow: 0em 0em 1.5em 0.2em rgb(122, 122, 122);
    border: 0.15em solid black;
}

.botonHome{
    background-color:rgb(243, 46, 46);
    background-image: url(../img/home.png);
    background-position: center;
    height: 1.4em;
    width: 1.4em;
    margin-top: 2.4em;
    margin-left: -5em;
    border: 0.2em solid grey;
    border-radius: 50%;
    box-shadow: 0em 0em 0.1em 0.05em rgb(44, 44, 44);
    cursor: pointer;
}


.mantenClic{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}






/*Contenedor que engloba todo el espacio que ocupan los botones para los colores, incluido el fondo-->*/
.contenedorFondoColores {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.colores {
    width: 10em;
    height: 5em;
}

#coral {
    background-image: url(../img/switchCoral.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#amarillo {
    background-image: url(../img/switchAmarillo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#gris {
    background-image: url(../img/switchGris.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#turquesa {
    background-image: url(../img/switchTurquesa.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.coral {
    background-color: rgb(255, 100, 151);
}

.amarillo {
    background-color: yellow;
}

.gris {
    background-color: gray;
}

.turquesa {
    background-color: turquoise;
}